/* .container{
    height: 700px;
    border: 1ps solid red;
    background-color: yellow;
    display: grid;
    grid-template-rows: repeat(4 , 1fr);
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 10px;
}
.box{
    border: 1px solid green;
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
/* } */
/* #box1{
    grid-column-start: 1;
    grid-column-end: 4;
} */
 .container{
    height: 700px;
    border:  1px solid rgb(233, 12, 12);
    background-color: yellow;
    display: grid;
    /* grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 400;
    grid-template-areas: 
    "hd"
    "side"
    "main"
    "ft"; */

    grid-template-columns: 200px 400px;
    grid-template-rows: 30px 500px 30px;
   grid-template-areas:
   "hd hd"
    "side main"
    "ft ft"; 
 }
 .box{
    border: 1px solid green;
    background-color: aqua;
 }
 #header{
    grid-area: side;
 }
 #footer{
    grid-area: ft;
 }
 #sidebar{
    grid-area: hd;
 }
 #content{
    grid-area: main;
 }